header {
  border-style:solid;
  border-color:rgb(193, 166, 14);
  background-image:url(téléchargement.jpeg);
}
.head{
  font-style:italic;
  font-size:40px;
}
.mod{
  font-style:italic;
  font-size:25px;
  font-weight:bold;
  color:rgb(170, 147, 20);
  cursor:pointer;
}

.sub{
  background-color:rgb(210, 184, 34);
  padding:8px 15px;
  font-style:italic;
  font-size:20px;
  margin-right:5px;
}
#butt{
  cursor:pointer;
  transition: opacity 0.3s;
  border-radius:5px;
}
.sub:hover{
  opacity:0.7;
}
#butt:active{
  opacity:0.3;
}

.set{
  background-color:rgb(250, 248, 194);
  padding:8px 18px;
  font-style:italic;
  font-size:20px;
  transition: background-color 1s,color 1s;

}
body{
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: center;      /* optional: keeps inline content centered */
  border-style:solid;
  border-color:black;
  background-color:rgb(255, 254, 217);
  margin:0px;
}

.imgs{
  transition: opacity 0.3s;
}
.imgs:hover{
  opacity:0.7;
}
.imgs:active{
  opacity:0.3;
}
.nbr-box{
  width:90px;
  height:27px;
  cursor:pointer;
}
.set:hover{
  background-color:black;
  color:rgb(250, 248, 194);
}